* {
    margin: 0;
}

.container {
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    height: 100vh;
    align-items: flex-start;
    justify-content: space-around;
    align-content: space-between;
}

.box {
    padding: 30;
    font-size: 1.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-align: center;
    width: 200px;
}

.box1 {
    background-color: red;
    /* order: 1; */
}

.box2 {
    background-color: seagreen;
    /* font-size: 48px; */
}

.box3 {
    background-color: yellow;
    /* font-size: 10px; */
    /* align-items: baseline; buat rata */
}

.box4 {
    background-color: violet;
    /* order: 2; */
}

.box5 {
    background-color: cyan;
}

.box6 {
    background-color: darkblue;
}

.box7 {
    background-color: darkmagenta;
    /* order: 3; */
}

.box8 {
    background-color: lightsalmon;
}

.box9 {
    background-color: sienna;
}

.box10 {
    background-color: darkslategrey;
}

